*{
    margin: 0;
}
#wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    font-size: 4em;
    width: 500px;
    aspect-ratio: 16 / 3;
    scale: 2;

    /* udsenet */
    border-radius: 15px;
    border: solid black 2px;
}
.tekstDefault{
    color: black;
}
.tekst{ 
    animation: infinite 1s tekst; 
}
@keyframes tekst{
    10%{color: blue; border: greenyellow 5px; transform: scale(1.2);}
    20%{color: greenyellow; border: rgb(21, 177, 52) 5px;  transform: scale(1);}
    30%{color: rgb(21, 177, 52); border: rgb(252, 0, 42) 5px; transform: scale(1.2);}
    40%{color: rgb(252, 0, 42); border: rgb(83, 197, 17) 5px;  transform: scale(1);}
    50%{color: rgb(83, 197, 17); border: yellow 5px;  transform: scale(1.2);}
    60%{color: yellow; border: red 5px;  transform: scale(1);}
    70%{color: red; border: purple 5px;  transform: scale(1.2);}
    80%{color: purple; border: yellow 5px;  transform: scale(1);}
    100%{color: yellow; border: blue 5px;  transform: scale(1.2);}
}
@media only screen and (max-width: 500px) {
    button{
        font-size: 5em
    }
}